---
import ContactForm from '../../components/forms/ContactForm.astro';
import Layout from '../../layouts/Page.astro';
import { Container } from '@components/odyssey-theme';

const seo = {
	title: 'Contact | Astro Odyssey Theme',
	description: 'Contact Page',
};
---

<Layout seo={seo}>
	<Container>
		<section class="contact-hero__section">
			<div class="contact-hero__text-section">
				<h1>Contact Us</h1>
				<h4>고객 지원 센터</h4>
				<p>ㆍ이메일: <em
					><a href="mailto:storycoding@gmail.com">twinlearnerinfo@gmail.com</a
					></em></p>
				<p>ㆍ운영 시간: 월요일 - 금요일, 09:00 - 18:00 (주말 및 공휴일 휴무)</p>
				&ensp;
				<h4>문의 양식</h4>
				<p>고객님의 소중한 의견을 기다립니다.</p>
				<p>오른쪽 양식을 작성해 주시면 최대한 빠른 시간 내에 답변드리겠습니다.</p>
				<div>
					<p>
						<!-- <em><a href="tel:8008675309">(800) 867-5309</a></em> •  -->
						
					</p>
				</div>
			</div>
			<div class="col-2__container">
				<ContactForm />
			</div>
		</section>
	</Container>
</Layout>

<style>
	.contact-hero__section {
		margin: var(--section-margin) auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		min-height: calc(90vh - var(--navbar-height));
		gap: 3rem;
	}
	.contact-hero__text-section {
		padding: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: var(--theme-surface-1);
		border-radius: var(--theme-shape-radius);
	}
	.col-2__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	@media (max-width: 768px) {
		.contact-hero__section {
			grid-template-columns: 1fr;
		}
	}
</style>
