---
import { parse, isBefore } from 'date-fns';
import {
	Container,
	TextCardSection,
	BlogPostsList,
} from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import NewsletterForm from '../../components/forms/NewsletterForm.astro';

const posts = await Astro.glob('./posts/*.mdx').then(posts =>
	posts
		.map(({ frontmatter, url }) => ({
			title: frontmatter.title,
			description: frontmatter.description,
			authors: frontmatter.authors,
			publishDate: parse(frontmatter.publishDate, 'MMMM d, yyyy', new Date()),
			featuredImage: frontmatter.featuredImage,
			excerpt: frontmatter.excerpt,
			href: url,
		}))
		.sort((a, b) => {
			if (isBefore(a.publishDate, b.publishDate)) return 1;
			if (isBefore(b.publishDate, a.publishDate)) return -1;
			return 0;
		})
);

const seo = {
	title: 'Blog | Astro Odyssey Theme',
	description: 'Astro Odyssey Theme Blog Page',
};
---

<Layout {seo}>
	<Container>
		<TextCardSection>
			<h1>Twin Learner Blog</h1>
			<p>우리 비즈니스에 대한 최신 소식을 확인하려면 블로그를 방문하세요.
				새로운 블로그 게시물에 대해 가장 먼저 알고 싶으신가요? 뉴스레터에 가입하세요!
			</p>
			<NewsletterForm />
		</TextCardSection>
		<!-- <section class="blog-posts-list__section">
			<h2>Recent Posts</h2>
			<BlogPostsList posts={posts} />
		</section> -->
	</Container>
</Layout>

<style>
	.blog-posts-list__section {
		margin: var(--section-margin) auto;
	}
</style>
